<div [ngClass]="{
  row : true,
  headerBottomBorder : headerBottomBorder}" >

    <div class="search-box input-group input-group-lg">
        <input #searchBox
               class="form-control"
               type="text"
               placeholder="חפשו במאגרים"
               (keyup)="search(searchBox.value)"
               [value]="term"
               />
        <span class="input-group-addon">
          <i *ngIf="!isSearching" [ngClass]="['glyphicon', 'glyphicon-search', term ? 'search-icon' : '']" (click)="term ? search(term) : undefined"></i>
          <i *ngIf="isSearching" class="fa fa-circle-o-notch fa-spin"></i>
        </span>
    </div>
    <div class="search-filter">
      <ul class="row col-xs-3 col-md-2">
        <li class="active col-xs-12 col-md-12">
          <a (click)="switchTab($event, 'all')"
              [class]= "displayDocs  === 'all' ? 'activeclass'  : ''" >הכל
            <span>
                ({{resultTotal ? resultTotal.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
        <ul class='row col-xs-9 col-md-10'>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, 'places')"
            [class]= "displayDocs  === 'places' ? 'activeclass'  : ''">מקומות
            <span>
                ({{resultTotalCount.places ? resultTotalCount.places.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, 'photounits')"
            [class]= "displayDocs  === 'photounits' ? 'activeclass'  : ''">תמונות
            <span>
                ({{resultTotalCount.photounits ? resultTotalCount.photounits.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)="switchTab($event, 'persons')"
            [class]= "displayDocs  === 'persons' ? 'activeclass'  : ''" >אנשים (עצי משפחה)
            <span>
                ({{resultTotalCount.persons ? resultTotalCount.persons.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)= "switchTab($event, 'movies')"
            [class]= "displayDocs  === 'movies' ? 'activeclass'  : ''">וידאו
            <span>
                ({{resultTotalCount.movies ? resultTotalCount.movies.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)= "switchTab($event, 'personalities')"
            [class]= "displayDocs  === 'personalities' ? 'activeclass'  : ''">אישים
            <span>
                ({{resultTotalCount.personalities ? resultTotalCount.personalities.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
        <li class="active col-xs-3 col-md-2">
          <a (click)= "switchTab($event, 'familynames')"
            [class]= "displayDocs  === 'familynames' ? 'activeclass'  : ''">שמות משפחה
            <span>
                ({{resultTotalCount.familynames ? resultTotalCount.familynames.toLocaleString()  : '0'}})
            </span>
          </a>
        </li>
      </ul>
    </div>
</div>

<div #searchBody class="search_body">

  <div *ngFor="let item of allDocs | async" >
    <search-result [item]="item"></search-result>
  </div>
  <h1 class="status">{{getStatusText()}}</h1>
</div>



